.die-item {
  color:seagreen;
  font-size: 151px;
  margin: 5px;
}

.shake {
  animation: shake 0.25s infinite;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0) rotate(-50deg);
  }
  50% {
    transform: translate(-3px, 0 rotate(125deg));
  }
  100% {
    transform: translate(0, 0) rotate(5deg);
  }
}